<!DOCTYPE html>
<html>
  <head>
    <title>Volunteer Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="../styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="header jumbotron">
      <h1>Volunteer Tracker</h1>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
