<h1>Information Page for the Project: </h1>
<h2><%= @project.title %></h2>

<% if @project.volunteers.any? %>
  <h3>Here are the volunteers working on this project: </h3>
  <ul>
    <% @project.volunteers.each do |volunteer| %>
      <li>
        <a href="/volunteers/<%= volunteer.id %>"><%= volunteer.name %></a>
      </li>
    <% end %>
  </ul>
<% else %>
  <h3>You do not have any volunteers assigned to this project.</h3>
<% end %>

<a href="/projects/<%= @project.id %>/edit"><h4>Edit Project</h4></a>
